.cardContainer{
   
        display: grid;
        grid-gap: 0 32px;
        grid-template-columns: 57% 40% ;
        grid-template-areas:
        "img  title "
        "img price "
        "img control "
        "img  description "
        "img  description "
        "img  description "
        "img  description "
        "img  description "
        /* grid-template-rows: 70px 80px; */
}
.title {
    grid-area: title;
}
.title h3{


  padding-bottom: 0;
}

.img {
    position: relative;
    grid-area: img;
}
.img img {
    width: 100%;
    border-radius:12px;
}
.control{
grid-area: control;
}
.price{
    grid-area: price;
}
.cardPrice{
    position: relative;
    display: flex;
    align-items:flex-end;
}
.currentPrice{
    margin-top: 0;
    margin-right: 32px;
}
.oldPrice{
    color: var(--grey);
    text-decoration: line-through;
    margin-bottom: 20px;
    margin-right: 32px;
}
.discount {
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    right: 16px;
    top: 16px;
    width: 63px;
    height: 34px;
    background-color: green;
    z-index: 1;
}
.description{
min-width: 300px;
grid-area: description;

}
.discountImg{
    display: none;
}

@media (max-width:1440px) {
    .cardContainer{
        grid-gap: 0 32px;
        /* grid-template-rows: 100px 100px 100px; */
        grid-template-columns: 50%;
}
.discountImg{
    display: none;

}
.currentPrice {
    font-size: 64px;
}
.oldPrice {
    font-size: 40px;
    font-weight: 500;
}
}

@media (max-width:1000px) {
    .cardContainer{
   
        display: grid;
        grid-gap:  10px 20px ;
        grid-template-areas:
        "img  title  "
        "img price "
        "img control "
        "description  description  ";  
        grid-template-rows: 180px 61px auto;
        grid-template-columns: 50%;    
}
.discountImg{
   
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    color: white;
    font-size: 20px;
    right: 16px;
    top: 16px;
    width: 63px;
    height: 34px;
    background-color: green;
    z-index: 1;
}
.currentPrice {
    font-size: 56px;
}
.oldPrice {
    font-size: 32px;
}
.discount{
    display: none;
}
}

@media (max-width:768px) {
    .cardContainer{
   
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
        "title  title"
        "img price"
        "img control" 
        "description description";  
        grid-template-rows: auto auto auto;
        grid-template-columns: 50%;   
}


        .currentPrice {
        margin-top: 0px;
        font-size: 48px;

        }
        .oldPrice {
        font-size: 28px;
        margin-bottom: 4px;
        /* padding-bottom: 0; */
        }


}
@media (max-width:480px) {
    .cardContainer{
   
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "title "
        "img "
        "price "
        "control"     
        "description "; 
        grid-template-rows: auto;    
        grid-template-columns: 100%;        
}
.currentPrice {
    margin-top: 0px;
    font-size: 48px;
    margin-bottom: 0px;
    
    }
    .oldPrice {
    font-size: 28px;
    margin-bottom: 4px;
    padding-bottom: 0;
    }
.price {
    display: flex;
    justify-content: center;
}
.control {
    display: flex;
    justify-content: center;
}
}