.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h2 {
    text-align: center;
}
.img404 {
    margin: 80px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.img404 img {
    width: 100%;
   
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text p {
    text-align: center;
}
.btnNotFound {
    margin-top: 32px;
}
@media (max-width: 1440px) {
    .img404 {
        margin-top: 60px;
    }
}
@media (max-width: 1000px) {
    .img404 {
        margin-top: 60px;
    }
}
@media (max-width:768px) {
    .btnNotFound {
        margin-top: 24px;
    }
  
}

@media (max-width:480px) {
    .img404 {
        margin-top: 56px;
    }
}