.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img404 {
    margin: 0 auto;
    display: flex;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

